<% content_for :title,  "Create a new listing to sell in Singapore" %>

<section class="long-form-section">
	<div class="header silver-color offshadow">
		<h1 class="page-title auth-form-heading">List your phone</h1>
		<p class="sub">Free to sell, so you keep all the money</p>
</div>
<div class="container">	
	
				<form accept-charset="UTF-8" action="/listings" class="long-form" enctype="multipart/form-data" id="new_listing" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="OXLMTqnuYDDtCJaL9iOym2rg8KenVPtEk62o6BhIHdk="></div>
						<p><label for="listing_devicename">Name of your Phone</label>	<input class="required" id="listing_devicename" name="listing[devicename]" placeholder="Name of your Phone" type="text"></p>

					<label for="listing_devicestorage">Storage capacity</label>	
					<div class="btn-group" data-toggle="buttons">
								  <label class="btn clouds-flat-button active">
								    <input type="radio" name="options" id="option1" autocomplete="off" checked=""> 8 GB
								  </label>
								  <label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option2" autocomplete="off"> 16 GB
								  </label>
								  <label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option3" autocomplete="off"> 32 GB
								  </label>
								<label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option4" autocomplete="off"> 64 GB
								  </label>
								<label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option5" autocomplete="off"> 128 GB
								  </label>
								</div>
								<p></p>
								<label for="listing_devicecolor">Color of your phone</label>
								<div class="btn-group" data-toggle="buttons">
								  <label class="btn clouds-flat-button active">
								    <input type="radio" name="options" id="option1" autocomplete="off" checked=""> Black
								  </label>
								  <label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option2" autocomplete="off"> White
								  </label>
								  <label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option3" autocomplete="off"> Gray
								  </label>
								<label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option4" autocomplete="off"> Gold
								  </label>
								 <label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option1" autocomplete="off">
									<select class="input-select">
											      <option disabled="" selected="true">Other</option>
											        <option data-icon-class="icon-star-alt" data-name="Loft" data-type-id="35">
											          Loft
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Cabin" data-type-id="4">
											          Cabin
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Villa" data-type-id="11">
											          Villa
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Castle" data-type-id="5">
											          Castle
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Dorm" data-type-id="9">
											          Dorm
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Treehouse" data-type-id="6">
											          Treehouse
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Boat" data-type-id="8">
											          Boat
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Plane" data-type-id="28">
											          Plane
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Camper/RV" data-type-id="32">
											          Camper/RV
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Igloo" data-type-id="12">
											          Igloo
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Lighthouse" data-type-id="10">
											          Lighthouse
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Yurt" data-type-id="15">
											          Yurt
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Tipi" data-type-id="16">
											          Tipi
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Cave" data-type-id="18">
											          Cave
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Island" data-type-id="19">
											          Island
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Chalet" data-type-id="22">
											          Chalet
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Earth House" data-type-id="23">
											          Earth House
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Hut" data-type-id="24">
											          Hut
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Train" data-type-id="25">
											          Train
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Tent" data-type-id="34">
											          Tent
											        </option>
											        <option data-icon-class="icon-star-alt" data-name="Other" data-type-id="33">
											          Other
											        </option>
											    </select>				  </label>
							</div>
						<p></p>
					<label for="listing_devicecondition">Condition of the device</label>
					<div class="btn-group" data-toggle="buttons">
								  <label class="btn clouds-flat-button active">
								    <input type="radio" name="options" id="option1" autocomplete="off" checked=""> New (R)
								  </label>
								  <label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option2" autocomplete="off"> New
								  </label>
								  <label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option3" autocomplete="off"> Mint
								  </label>
								<label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option4" autocomplete="off"> Good
								  </label>
								<label class="btn clouds-flat-button">
								    <input type="radio" name="options" id="option5" autocomplete="off"> Fair
								  </label>
								</div>


						<p><label for="listing_askprice">How much you want to sell it for?</label>	<input class="required" id="listing_askprice" name="listing[askprice]" placeholder="amount in SGD" type="text"></p>

							<p><label for="listing_headline">Title for your listing</label>	<input class="required" id="listing_headline" name="listing[headline]" placeholder="this will appear in our search results, so be creative it's your chance to sell." type="text"></p>
								<p><label for="listing_description">Describe your listing</label>	<textarea class="required" id="listing_description" name="listing[description]" placeholder="Write more about your phone, which will let the buyer make a decision"></textarea></p>

									<p><label for="listing_deviceimei">Phone's IMEI number</label>	<input class="required" id="listing_deviceimei" name="listing[deviceimei]" placeholder="IMEI needed for verification. Will be kept private" type="text"></p>

								<p><label for="listing_paypalemail">Your paypal email</label>	<input class="required" id="listing_paypalemail" name="listing[paypalemail]" type="text" value="mihirjb@gmail.com"></p>

									<p><label for="listing_paypalfname">First name in paypal</label>	<input class="required" id="listing_paypalfname" name="listing[paypalfname]" placeholder="Paypal first name is needed for verification" type="text"></p>


										<p><label for="listing_paypallaname">Last name in paypal</label>	<input class="required" id="listing_paypallname" name="listing[paypallname]" placeholder="Last name in paypal is collected for verification." type="text"></p>

						<hr class="gray">


														<div class="newPaperclipFiles">

														        <h3>Upload pictures</h3>

														                 <p><input class="custom-file-input" id="listing_assets_attributes_0_image" name="listing[assets_attributes][0][image]" type="file"></p>
														                 <p><input class="custom-file-input" id="listing_assets_attributes_1_image" name="listing[assets_attributes][1][image]" type="file"></p>
														                 <p><input class="custom-file-input" id="listing_assets_attributes_2_image" name="listing[assets_attributes][2][image]" type="file"></p>
														                 <p><input class="custom-file-input" id="listing_assets_attributes_3_image" name="listing[assets_attributes][3][image]" type="file"></p>
														                 <p><input class="custom-file-input" id="listing_assets_attributes_4_image" name="listing[assets_attributes][4][image]" type="file"></p>
																		  <p><input class="custom-file-input" id="listing_assets_attributes_4_image" name="listing[assets_attributes][4][image]" type="file"></p>



						</div>
						<hr class="gray">

									<input type="text" name="foo" style="display: none;">


													<input class="btn offshadow btn-success" data-disable-with="Going..." name="commit" type="submit" value="Go">
				</form>
									
	</div>
</section>

	

		
