<% content_for :title,  "About a marketplace to buy and sell iOS devices" %>
<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">A marketplace just to buy and sell phones</h1>
		</div>
	</div>
<div class="container white-color softshadow cushion">
		<div id="about">
		<h1 class="hero">Phonesalad</h1>
		<h3 class="center-block">Buy & sell gently used mobile phones and tablets</h2>
		<p class="hero"><span class="emphasis">We're low-cost, secure, and easy to use.</span><br/><span class="different"> Every listing is verified for ownership and gentle usage (no cracks or water damage).</span></p><br/>
		<br />
		</div>
		<hr class="gray">
		
		<div id="whyus">
			<h2 class="center-block">Why us?</h2>
			<hr class="gray">
			
				<div class="mini-section">
					
					<h3>1. Better Than eBay</h3>
					<p>
					No seller fees! And you get paid faster.<br/>
					No junk devices allowed.<br/>
					We use PayPal, so you are protected.
					</p>
					</div>
					<hr class="gray">
					
					<div class="mini-section">
					<h3>
					2. No Seller Fees</h3>
					<p>
					It's free to list and free to sell. Phonesalad does not charge seller fees.<br/>
					</p></div>
					<hr class="gray">
					
					<div class="mini-section">

						<h3>3. Great Support, Helpful Staff</h3>
					<p>Our support staff are helpful, active, and knowledgeable mobile experts.<br/>
					We appreciate your business, and it shows.<br/>
					No Junk Devices<br/>
					No cracked screens, no water damage.<br/>
					Devices must be ready for activation.<br/>
					We review and approve every listing.<br/></p></div>
					<hr class="gray">
					
					<div class="mini-section">
					<h3>4. Buy with Confidence</h3>

					<p>No junk devices allowed.<br/>
					All listings are reviewed and approved by Phonesalad team.<br/>
					PayPal protections for buyers and sellers.<br/></p>
					</div>

		
		</div>
	</section>
