<% content_for :title,  "FAQ by buyers of iPhones and iPads" %>

<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">Frequently asked questions by a buyer</h1>
		</div>
	</div>
<div class="container white-color softshadow">
				<nav class="navbar navbar-default" role="navigation">
				<ul class="nav navbar-nav">
					<li><%= link_to "General", '/pages/faq'%></li>
					<li><%= link_to "Seller Faq", "/pages/sellerfaq"%></li>
					<li><%= link_to "Buyer Faq", "/pages/buyerfaq"%></li>
				
		</ul>
		</nav>
			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What does it mean when a listing has been "approved and verified" by Phonesalad staff? </h4></div><div class="panel-body"> 

		<p>	Phonesalad means to audit and sanction each listing presented on Phonesalad on guarantee it is an authentic listing and meets our criteria for "no garbage devices". </p>

		<p>	This is a security characteristic to help ensure buyers and make Phonesalad the most secure spot to purchase and offer used versatile devices on the web. </p>

		<p>	A portion of the things that are evaluated by Phonesalad staff: </p>

			<ul><li>Agreeability with Phonesalad listing guidelines</li> 

			<li>Confirmation photographs </li>

			<li>ESN check </li>

			<li>Seller history </li></ul>

			<p>Regardless we encourage all buyers to deliberately check all listings you're considering purchasing and to make inquiries to the seller. Remember, a seller can at present alter the listing after being approved. Furthermore dependably address "excessively great to be correct" listings. </p>

			<p>In the event that a listing that has been approved looks suspicious or faulty, ask Phonesalad staff to survey it once more! Simply leave a remark on the listing requesting a survey. We'll be upbeat to look at it once more. </p>

			<p>So is a listing that is surveyed and approved ensured to be genuine? The reply, shockingly, is no. Phonesalad can't ensure the intentions or future activities of any seller. At the same time we can ensure that no other site works harder to avert "fraudulent" listings and bargains. Furthermore we're really great at it.</p></div></div>

			<div class=" faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What happens if what I get doesn't match what I purchased? </h4></div><div class="panel-body"> 

		<p>	First and foremost, relax. It happens sometimes even to the best of us. While it sucks, you can get it settled. </p>

			<p>Next, follow these steps: </p>

			<ul><li>Contact the Seller by leaving a comment on the listing's deal page.</li> 

			<p>Caution Phonesalad so we can help by leaving a comment. </p>

			<li>Assuming that looking for a refund, use Paypal website.</li></ul> 

			<p>The exceptional news is that you are in all probability secured by Paypal's buyer assurance approaches (this is one huge explanation for why we utilize Paypal for transactions). </p>

	</div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What is a Paypal confirmed address and why is it vital? </h4></div><div class="panel-body"> 

		<p>	A Paypal Confirmed Address is an address joined to a verified record that Paypal gives an exceptional "confirmed" status to. Paypal broadens more seller assurances when offering to a buyer with a confirmed address. 
</p>



			<p>Paypal does not by and large "confirm" address outside of the US, Canada and UK. </p>

		<p>	A "confirmed address" is NOT the same as a "verified record" on Paypal. </p></div></div> 
		
			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Why is a listing pending staff survey? </h4></div><div class="panel-body"> 

			<p>All listings on Phonesalad are surveyed and approved before it could be acquired. This is a security characteristic to help ensure buyers and make Phonesalad the most secure spot to purchase used mobile devices on the web. </p>

		<p>	A percentage of the criteria that are audited by Phonesalad staff: </p>

			<ul><li>Check photographs </li>

			<li>ESN check </li>

			<li>Agreeability with Phonesalad listing guidelines</li> 

			<li>Seller history </li></ul></div></div>


	

			<div class=" faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Can I utilize Phonesalad from Canada, Europe, India and anyplace else on the planet? </h4></div><div class="panel-body"> 

		<p>	The short answer is yes! Kindly do. At the same time there are a couple of things to remember... </p>

			<p>For a particular listing, the seller of every device listing confirms where they will send. If its not too much trouble contact the seller through the comments segment at the lowest part of the listing page to inquire as to whether they will ship to where you are (before you purchase). They may need to charge an additional transportation expense. It is dependent upon you and the seller to work together and work it out.</p> </div></div> 

			<div class=" faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How would I cancel a pending payment by means of Paypal? </h4></div><div class="panel-body"> 

			<p>Assuming that an payment to a seller is still in the "Pending" status you may have the ability to cancel the payment. </p>

			<p>Login to Paypal, click the "Payments sent" connection, find the payment to the seller, click the Details bind, and there ought to be an alternative there to cross out the installment. </p></div></div> 

			<div class=" faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Can I change my shipping address after I've paid with Paypal? </h4></div><div class="panel-body"> 
<p>
			Paypal arrangement requires the seller ship to the address joined to the Paypal installment to be qualified for seller insurances. So Phonesalad can just suggest the seller ship to that address. </p>

			<p>Paypal does not permit the address to changed (or confirmed) after an installment is sent. So if the address you gave around then of installment is off base (or not confirmed) you will re-submit installment to the seller to make changes. Sorry, this is Paypal strategy (not Phonesalad arrangement). Assuming that this is important, inform Phonesalad staff who can help furnish directions.</p> </div></div> 

			<div class=" faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How would I contact a seller? </h4></div><div class="panel-body"> 

			To contact a seller simply leave a remark on the listing page. The seller will be messaged and react by means of comments. </div></div>


			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What happens if a telephone sold on Phonesalad is blocked a month or two after sold? </h4></div><div class="panel-body"> 

		<p>	We do what we can to guarantee devices listed on the site are prepared for initiation when sold. What's more Paypal and your Visa have approaches for securing your cash assuming that you are protected, so you are ensured assuming that you are sold a blocked device or when it gets blocked inside their insurance window. </p>

			<p>Shouldn't we think about after the insurance windows, a couple of months in the future? The short answer is we can't avert this. Nor can ebay or craigslist or any possible site or administration. This situation where a device could be blocked a couple of months in the future, if permitted, is a defect in carrier strategies. </p>

			<p>So Phonesalad, Paypal, and your charge card organization are all attempting to help secure you, however that doesn't essentially anticipate all cheating situations later on.</p> </div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are my payments choices when purchasing? </h4></div><div class="panel-body"> 

			<p>At present, Phonesalad utilizes Paypal for payments. </p>

			<p>We want to include other payment options later on. </p></div></div>

		
				<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What is a sale fee? </h4></div><div class="panel-body"> 

				<p>A sale fee is a little measure added to the cost of all listings by Phonesalad. This sum is paid by the buyer if and just if the listing is sold. </p>



				<p>Phonesalad gathers the deal expense for furnishing our administration of facilitating and screening listings, encouraging the sales, and so on.</p> </div></div>

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> I'm not certain what established or ROM methods, would it be a good idea for me to purchase an established telephone? </h4></div><div class="panel-body"> 


		

			<p>In the event that you don't have a clue what established or Rom'd implies, then don't purchase it. </p>

			<p>Assuming that you haven't the faintest idea how to "rooting" then don't purchase it. </p>

			 </div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Should a SIM card be incorporated with used device deals? </h4></div><div class="panel-body"> 

			<p>SIM cards are attached to a client's record and are not transferable to an alternate client. Along these lines SIM cards ought not be normal / incorporated with used device deals (unless generally expressed on a listing). </p>

			<p>As a buyer, you will be relied upon to furnish your own particular SIM card, as they must be attached to your record. </p>

			<p>New / unused SIM cards may be incorporated with a deal, however this ought not be accepted.</p> </div></div>
		

				<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are verfication pictures? </h4></div><div class="panel-body"> 

				<p>A "verification picture" is a low-tech, however successful, hostile to cheating measure. By demonstrating the device by the unique listing code it demonstrates you have the device you are selling. Furthermore it keeps potential con artists from making listings for high-dollar devices they don't have. </p>

			</div></div> 
			

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How will I know when the Seller ships my device? </h4></div><div class="panel-body"> 

			We will send you a mail with the tracking info which the seller provides us. </div></div> 

			
				<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are the site return policies? </h4></div><div class="panel-body"> 

				<p>Sellers characterize return policies for their listing. </p>

				<p>All seller return policies are dependent upon the precondition that the device is received as promoted and as per Phonesalad policies. No seller may deny a return / refund when not as publicized. </p>

			<p>	So Phonesalad does not characterize return policies, with the exception of in situations where what is conveyed does not match what was promoted. </p></div></div>
		
		</div>
		</div>


				</section>
