<% content_for :title,  "Things you need to know for buying and selling iPhone and iPad" %>

<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">Frequently asked questions</h1>
		</div>
	</div>
<div class="container white-color softshadow">
				<nav class="navbar navbar-default" role="navigation">
				<ul class="nav navbar-nav">
					<li><%= link_to "General", '/pages/faq'%></li>
					<li><%= link_to "Seller Faq", "/pages/sellerfaq"%></li>
					<li><%= link_to "Buyer Faq", "/pages/buyerfaq"%></li>
				
		</ul>
		</nav>

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What does it mean when a listing has been "approved and verified" by Phonesalad staff? </h4></div><div class="panel-body"> 

		<p>	Phonesalad means to audit and sanction each listing presented on Phonesalad on guarantee it is an authentic listing and meets our criteria for "no garbage devices". </p>

		<p>	This is a security characteristic to help ensure buyers and make Phonesalad the most secure spot to purchase and offer used versatile devices on the web. </p>

		<p>	A portion of the things that are evaluated by Phonesalad staff: </p>

			<ul><li>Agreeability with Phonesalad listing guidelines</li> 

			<li>Confirmation photographs </li>

			<li>ESN check </li>

			<li>Seller history </li></ul>

			<p>Regardless we encourage all buyers to deliberately check all listings you're considering purchasing and to make inquiries to the seller. Remember, a seller can at present alter the listing after being approved. Furthermore dependably address "excessively great to be correct" listings. </p>

			<p>In the event that a listing that has been approved looks suspicious or faulty, ask Phonesalad staff to survey it once more! Simply leave a remark on the listing requesting a survey. We'll be upbeat to look at it once more. </p>

			<p>So is a listing that is surveyed and approved ensured to be genuine? The reply, shockingly, is no. Phonesalad can't ensure the intentions or future activities of any seller. At the same time we can ensure that no other site works harder to avert "fraudulent" listings and bargains. Furthermore we're really great at it.</p></div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Why is a listing pending staff survey? </h4></div><div class="panel-body"> 

			<p>All listings on Phonesalad are surveyed and approved before it could be acquired. This is a security characteristic to help ensure buyers and make Phonesalad the most secure spot to purchase used mobile devices on the web. </p>

		<p>	A percentage of the criteria that are audited by Phonesalad staff: </p>

			<ul><li>Check photographs </li>

			<li>ESN check </li>

			<li>Agreeability with Phonesalad listing guidelines</li> 

			<li>Seller history </li></ul></div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What is an ESN? </h4></div><div class="panel-body"> 

		<p>	ESN remains for Electronic Serial Number. It is an interesting identifier for a mobile device (no two devices have the same ESN).</p> 

		<p>	ESN numbers can have a few organizations, incorporating an IMEI and MEID.</p> 

			<p>Wikipedia article for ESN: http://en.wikipedia.org/wiki/electronic_serial_number 
</p></div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How is Phonesalad different (better) than ebay or Craigslist? </h4></div><div class="panel-body"> 

			<p>Phonesalad does not permit garbage devices. </p>

			<p>One contrast between Phonesalad and options is that different administrations don't have any standards against offering garbage devices (Phonesalad does). What's more different administrations don't essentially oblige divulgence of harm or state of the ESN (if a seller doesn't uncover that data, then its the buyer's obligation to ask). </p>

			<p>Phonesalad makes purchasing a charming, social experience</p> </div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are Phonesalad's Standards for Each Device Condition? </h4></div><div class="panel-body"> 

			<p>New </p>

			<ul><li>Never initiated, established, or renovated </li>

			<li>Incorporates unique box and all embellishments </li>

			<li>No indications of utilization</li> </ul>

			<p>Mint </p>

			<ul><li>Works immaculately </li>

		<li>	Impeccable screen condition</li> 

			<li>No indications of utilization </li></ul>

			<p>Good</p> 

			<ul><li>Works immaculately </li>

			<li>Exceptional screen condition </li>

			<li>Few restorative defects</li> </ul>

			<p>Fair </p>
<ul>
<li>			Works faultlessly </li>

		<li>	Exceptional screen condition </li>

			<li>A few scratches or worn paint</li> </ul>

		 </div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Where might as well my device be listed? </h4></div><div class="panel-body"> 

<p>			Devices must be listed by model number and by the first ever carrier. 
</p>
			<p>No carrier marked device, or device which was around then sold by/locked to a particular user may be listed in the plant opened classification for that device. </p>

		<p>	For example, if your device has an At&t image on it, it must be listed in the At&t area, whether it has been SIM unlocked. In the event that the device has been SIM unlocked, then essentially check the "Unlocked" box when making your listing. </p></div></div>

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What criteria does a device need to meet to be listed on Phonesalad? </h4></div><div class="panel-body"> 

			To offer your device on Phonesalad it must meet the accompanying criteria: 

				<h4>REQUIRED:</h4>
<ul>
			<li>	Device is fully functional, including all buttons and ports.</li><li>
				Device is and ready for activation and not reported lost or stolen.</li><li>
				Device is free of cracks and water damage and other non-cosmetic damage.</li><li>
				Device has functional battery (not damaged) included with sale.</li><li>
				The device and seller must otherwise qualify for sale in accordance with our Terms of Use.</li></ul>
				
				<h4>NOT ALLOWED:</h4>
				<ul>
							<li>
				Device with bad ESN (or otherwise not able to activated).</li><li>
				Device with cracks on screen or glass.</li><li>
				Device with water damage (or missing moisture indicator stickers).</li><li>
				Devices with an outstanding EIP balance (money owed to carrier).</li></ul>

			<p>You will additionally be obliged to transfer a Verification Photo indicating your device and one of a kind listing code. </p>

			<p>Devices on Easy installment plans (EIP) are still possessed by the seller and could be boycotted if the equalization is not paid, accordingly they are not qualified available to be purchased on Phonesalad until ponied up all required funds. </p></div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Should I raise a Paypal issue for the deal fee to Phonesalad? </h4></div><div class="panel-body"> 

<p>			No. Don't raise a Paypal issue against Phonesalad unless you have as of recently spoken with Phonesalad to ask for a refund. When you need a refund, simply ask. </p>

			<p>The cash paid to Phonesalad is an administration expense. When we don't perform our administrations as promoted, then you are qualified for a refund.</p> </div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Does Phonesalad alllow private messaging? </h4></div><div class="panel-body"> 

			<p>Phonesalad does not allow private messaging at this point. When you need to correspond with a seller in regards to a listing, use comments on the listing page. </p></div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How much does it cost to make a listing? </h4></div><div class="panel-body"> 

			<p>Selling is FREE on Phonesalad.</p> 

		<p>	Sellers don't need to pay charges to make a listing or pay expenses for sold listings.</p></div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Should a SIM card be incorporated with used device deals? </h4></div><div class="panel-body"> 

			<p>SIM cards are attached to a client's record and are not transferable to an alternate client. Along these lines SIM cards ought not be normal / incorporated with used device deals (unless generally expressed on a listing). </p>

			<p>As a buyer, you will be relied upon to furnish your own particular SIM card, as they must be attached to your record. </p>

			<p>New / unused SIM cards may be incorporated with a deal, however this ought not be accepted.</p> </div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Does Phonesalad permit "exchange only" listings? </h4></div><div class="panel-body"> 

			<p>No. Phonesalad does not help "exchange only" listings. </p>

			<p>Each listing on the site ought to be estimated with the goal that when somebody purchases it as listed you are readied to respect the bargain. </p>

			</div></div> 

		

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are the site return policies? </h4></div><div class="panel-body"> 

			<p>Sellers characterize return policies for their listing. </p>

			<p>All seller return policies are dependent upon the precondition that the device is received as promoted and as per Phonesalad policies. No seller may deny a return / refund when not as publicized. </p>

		<p>	So Phonesalad does not characterize return policies, with the exception of in situations where what is conveyed does not match what was promoted. </p></div></div> 

	



</div>
</section>