<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">Contact us for any help that you need</h1>
		</div>
	</div>
<div class="container white-color softshadow cushion">
		<p>Hi. Please email admin [at] phonesalad [dot] com for help.</p>
		</div>
		
		</div>
		</section>