<div id="hero">
<header><h1 class="logo">phonesalad</h1></header>

<div class="outer">
					<div class="pane">							
						<div class="centered-text section ">
								

	<form class="form-inline main-search" role="search" action ="/pages/searchresults">
		<input type="text" name="search" placeholder ="Search for the phone you want to buy or sell" class="typeahead searchbar">		
	  <button type="submit" class="btn black-flat-btn">Go</button>
	</form>

	<h3 class="main-header">Buy and Sell lightly used iPhones and iPads</h3>
	<p>We are low cost, fast and secure.</p>
<a href="../pages/buy" class="btn white-transparent-btn">See how it works</a>
<a href="../users/sign_up" class="btn pumpkin-flat-button">Sign up</a>
<a href="<%= new_user_session_path %>" class="btn black-flat-btn">Sign in</a>



</div>
</div>
</div>
</div>
<section id="hw" class="how-it-works-section light-blue">
            <div class="container">
                <div class="section-header">
                   <h2 class="text-center">It's as Easy as 1-2-3</h2>
                   <div class="divider"></div>
                </div>
                <div class="row">
                   <div class="col-sm-4 text-center">
                       <div alt="book-cleaner" class="img-responsive img-circle">
                           <strong>1</strong>
                       </div>
                       <h4 class="text-center">Sign up</h4>
                       <p>Create a free account.</p>
                   </div>
                   <div class="col-sm-4 text-center">
                       <div alt="book-cleaner" class="img-responsive img-circle">
                           <strong>2</strong>
                       </div>
                       <h4 class="text-center">Buy</h4>
                       <p>Go through all the verified listings and buy one.</p>
                   </div>
                   <div class="col-sm-4 text-center">
                       <div alt="book-cleaner" class="img-responsive img-circle">
                           <strong>3</strong>
                       </div>
                       <h4 class="text-center">Phone is delivered</h4>
                       <p>Sit back and relax. Enjoy your sparkling new iPhone when it's delivered!</p>
                   </div>
                </div>
            </div>
        </section>



<section class="softshadow" id="howitworks">
<h2 class="content-heading">No junk devices allowed. Great phones for less!</h2>
<div class="container">

<div class="row">
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="glyph"><span class="glyphicon glyphicon-tint"></span></div>
		<h3 class="content-heading">no water damaged phones</h3>
		<p class="feature-explanation">We don't allow users to list phones with water damage.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="glyph"><span class="glyphicon glyphicon-phone"></span></div>
		<h3 class="content-heading">no phones with cracked screens</h3>
		<p class="feature-explanation">Every listing is verified to see if the screen of the phone is cracked, if it is so then the listing is rejected.</p>
	</div>
	<div class="col-md-4 col-sm-4 col-xs-12">
		<div class="glyph"><span class="glyphicon glyphicon-check"></span></div>
		<h3 class="content-heading">we use paypal so you are safe</h3>
		<p class="feature-explanation">Paypal has a buyer as well as seller protection policy which protects you.</p>
		
	</div>
</div>
</div>
</section>