<% content_for :title,  "Search Results for #{params[:search]} " %>

<div class="outer">
	<div class="main">
		<div class="centered-800 phoneindex rounded offshadow">
		
							<div class="section-heading">
								<h2 class="page-heading">Search Results for <%= params[:search] %></h2>
								</div>	
			<%= render partial: 'pages/phones' %>
				<div class="cushion">
				<%= will_paginate @phones, renderer: BootstrapPagination::Rails  %>
				</div>
	
				</div>
		</div>
		</div>