<% content_for :title,  "Search Results for #{params[:search]} " %>

		<section class="long-form-section">
			<div class="header silver-color offshadow">
				<h1 class="page-title">Here are all the listings for <%= params[:search] %></h1>
		</div>
		<div class="container">
			<div class="row">
				<%= render partial: 'pages/phone' %>
					<div class="cushion">
					<%= will_paginate @phones, renderer: BootstrapPagination::Rails  %>
				</div>
			</div>
		</section>