<% content_for :title,  "How to sell a used iPhone or iPad" %>

<div class="outer">
	<div class="main">
		<div class="centered-800 phoneindex rounded offshadow">
		
							<div class="section-heading">
								<h2 class="page-heading">How to sell a used iPhone?</h2>
								</div>
	
		
		
			</div>
		 </div>
		</div>