<% content_for :title,  "Seller FAQ" %>

<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">Frequently asked questions by a seller</h1>
		</div>
	</div>
<div class="container white-color softshadow">
				<nav class="navbar navbar-default" role="navigation">
				<ul class="nav navbar-nav">
					<li><%= link_to "General", '/pages/faq'%></li>
					<li><%= link_to "Seller Faq", "/pages/sellerfaq"%></li>
					<li><%= link_to "Buyer Faq", "/pages/buyerfaq"%></li>
				
		</ul>
		</nav>
			
			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What is a Paypal confirmed address and why is it vital? </h4></div><div class="panel-body"> 

		<p>	A Paypal Confirmed Address is an address joined to a verified record that Paypal gives an exceptional "confirmed" status to. Paypal broadens more seller assurances when offering to a buyer with a confirmed address. 
</p>



			<p>Paypal does not by and large "confirm" address outside of the US, Canada and UK. </p>

		<p>	A "confirmed address" is NOT the same as a "verified record" on Paypal. </p></div></div> 

	

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Why is a listing pending staff survey? </h4></div><div class="panel-body"> 

			<p>All listings on Phonesalad are surveyed and approved before it could be acquired. This is a security characteristic to help ensure buyers and make Phonesalad the most secure spot to purchase used mobile devices on the web. </p>

		<p>	A percentage of the criteria that are audited by Phonesalad staff: </p>

			<ul><li>Check photographs </li>

			<li>ESN check </li>

			<li>Agreeability with Phonesalad listing guidelines</li> 

			<li>Seller history </li></ul></div></div>

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Why would it be advisable for me to not share my ESN / IMEI / MEID freely? </h4></div><div class="panel-body"> 

			<p>We don't need sellers to freely post ESN numbers on the grounds that it can advertise cheating. </p>

			<p>For example, untrustworthy individuals will take other individuals' ESN numbers and attempt to utilize them to make fake listings. We've witnessed it some time recently, and it makes migraines for Phonesalad and for the genuine seller who imparted their ESN. Some ESN numbers can additionally be stolen to "farce" (take) benefit on a few systems and could be utilized within clone devices, and so on. </p>

			<p>All seller's are obliged to check that the ESN of the device is clean and prepared for initiation preceding posting available to be purchased. We additionally check the ESN throughout our listing confirmation / approbation process. In the event that you were to purchase a device on Phonesalad that couldn't be actuated because of a boycotted ESN then you might be qualified for a discount regardless of the seller's expressed return policy. </p>

			<p>So requesting an ESN number from a legitimate seller is unnecessary on the grounds that they might as well have as of recently verified it was clean before listing. What's more requesting an ESN number from an exploitative seller is pointless on the grounds that they could furnish you a fake one. </p>

			<p>Fortunately on account of our far reaching checks and check, ESN issues are once in a while an issue with devices sold on Phonesalad. </p></div></div> 

		
			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Can I drop my listing  whenever, without expense? </h4></div><div class="panel-body"> 

			<p>Yes, you can delete a listing you made at whatever time before it is sold. There is no expense or punishment to dropping your listing (once more, before it is sold).</p> </div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What happens when I offer a listing I can't fulfill? </h4></div><div class="panel-body"> 

		<p>	Did you offer your listing on an alternate site (e.g. ebay or Craigslist) and neglect to draw it before it was purchased on Phonesalad? </p>

			<p>Refund the buyer through Paypal quickly </p>

			<p>Leave a remark on your listing's deal page clarifying the circumstances to the buyer </p>

			<p>Tell Phonesalad to refund the buyer's $10 bargain expense</p> </div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How would I clear all individual information from a device I sold? </h4></div><div class="panel-body"> 

			<p>Factory Reset </p>

			<p>Head off to Settings » SD & Phone Storage » Factory information reset </p>

			<p>Take your SIM card out</p>

			<p>Wipe the SD Card </p></div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are Phonesalad's Standards for Each Device Condition? </h4></div><div class="panel-body"> 

			<p>New </p>

			<ul><li>Never initiated, established, or renovated </li>

			<li>Incorporates unique box and all embellishments </li>

			<li>No indications of utilization</li> </ul>

			<p>Mint </p>

			<ul><li>Works immaculately </li>

		<li>	Impeccable screen condition</li> 

			<li>No indications of utilization </li></ul>

			<p>Good</p> 

			<ul><li>Works immaculately </li>

			<li>Exceptional screen condition </li>

			<li>Few restorative defects</li> </ul>

			<p>Fair </p>
<ul>
<li>			Works faultlessly </li>

		<li>	Exceptional screen condition </li>

			<li>A few scratches or worn paint</li> </ul>

		 </div></div>

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What if the device I need to purchase or offer is not found on Phonesalad? </h4></div><div class="panel-body"> 
<p>
			Simply send an email to help@phonesalad.com requesting the device to be added to the site. We'll get it included. It's convenient, not needed, if you can add a carrier name to the device data also.</p> </div></div> 

		

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How would I (seller) acknowledge an offer for an lower cost from a buyer? </h4></div><div class="panel-body"> 

		<p>	To an acknowledge an offer for an lower price basically alter your listing to change the cost. After you've changed the value and saved your listing then leave a remark on the listing page for the buyer that its changed.</p> </div></div>

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How would I refund a buyer through Paypal? </h4></div><div class="panel-body"> 

			<p>Login to Paypal, click the "Payments received" connection, find the installment from the buyer, click the "Refund" tab, and accompany the directions. </p>

		<p>	Kindly inform Phonesalad staff that you are refunding a buyer!</p> </div></div> 

		

				<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What criteria does a device need to meet to be listed on Phonesalad? </h4></div><div class="panel-body"> 

				To offer your device on Phonesalad it must meet the accompanying criteria: 

					<h4>REQUIRED:</h4>
	<ul>
				<li>	Device is fully functional, including all buttons and ports.</li><li>
					Device is and ready for activation and not reported lost or stolen.</li><li>
					Device is free of cracks and water damage and other non-cosmetic damage.</li><li>
					Device has functional battery (not damaged) included with sale.</li><li>
					The device and seller must otherwise qualify for sale in accordance with our Terms of Use.</li></ul>

					<h4>NOT ALLOWED:</h4>
					<ul>
								<li>
					Device with bad ESN (or otherwise not able to activated).</li><li>
					Device with cracks on screen or glass.</li><li>
					Device with water damage (or missing moisture indicator stickers).</li><li>
					Devices with an outstanding EIP balance (money owed to carrier).</li></ul>

				<p>You will additionally be obliged to transfer a Verification Photo indicating your device and one of a kind listing code. </p>

				<p>Devices on Easy installment plans (EIP) are still possessed by the seller and could be boycotted if the equalization is not paid, accordingly they are not qualified available to be purchased on Phonesalad until ponied up all required funds. </p></div></div>

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> When does my listing end? </h4></div><div class="panel-body"> 

			Listings end either when they sell or when our algorithm decides that it is too old to show. </div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title">What can i do to ensure safe shipment of my sold device? </h4></div><div class="panel-body"> 

			<p>You might as well bundle your device for safe shipment to guarantee the buyer appropriates it undamaged. Wrap it safely and buy fitting postage, incorporating suitable protection. </p>

		<p>	As a seller, you are answerable for the device and its condition up until it is in the hands of the buyer.</p> </div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are my payments choices when purchasing? </h4></div><div class="panel-body"> 

			<p>At present, Phonesalad utilizes Paypal for payments. </p>

			<p>We want to include other installment choices later on. </p></div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Where are Paypal expenses specified on the site? </h4></div><div class="panel-body"> 

		<p>	Paypal expenses are specified all around the site in a few spots to guarantee they aren't an amazement to another seller: </p>

		<p>	On the page before you make a listing, under "Other Terms" that you consent to is this visual cue: "You must be equipped for accepting payments by means of Paypal and be ready to bear their expenses." </p>

			<p>When you made your listing and specified your Ask Price for the listing, it would be ideal if you incorporate a sensible shipping expense (more often than not about $10-15) for provincial conveyance." </p>

		

		<p>	Also, when you sign up for Paypal you consent to their terms and expenses. </p></div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What Paypal charges will a Seller bring about? </h4></div><div class="panel-body"> 

			<p>Sellers will accept payments from Buyers for their sold listings by means of Paypal. Paypal figures out and charges transaction expenses for utilizing their services. Paypals charges are deducted from the measure the Seller gains. </p>

			<p>Paypal charges will be deducted from the Seller's payment for aggregate sum of the listing, incorporating the Ask Price and the Sale Fee. </p>

			<p>Paypal's charges are ordinarily 2.9% + $0.30 USD for every transaction, yet may change. It would be ideal if you counsel Paypal's site for additional data.</p> 
 </div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are the methods that ought to be emulated for a return? </h4></div><div class="panel-body"> 

			<p>Phonesalad doesn't like seeing returns, yet off and on again they are fundamental. </p>

			<p>Since Phonesalad utilizes Paypal for installments and they furnish the installment assurances, Paypal policies for returns take point of reference and ought to be emulated. </p>

			<p>For returns, the seller might as well furnish guidelines / address and the telephone ought to be shipped once again with following and fitting protection. The refund ought to be transformed expeditiously when the telephone is received back. </p>

			<p>The buyer might as well furnish the ESN / IMEI / MEID of the device they are returning for the seller on the bargain page before shipping back. </p>

			<p>Paypal, who furnishes the installment assurances, prescribes the buyer document a debate before sending back.</p> 

			<p>Tell Phonesalad staff when device is headed back and we will countervail the deal and refund the bargain expense (if suitable). </p></div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Can I sell established or rooted devices on Phonesalad? </h4></div><div class="panel-body"> 

			Yes, modified and rooted devices are welcome on Phonesalad. Simply please make certain to detail the establishing or mods in your listing's depiction. </div></div> 

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What is a sale fee? </h4></div><div class="panel-body"> 

			<p>A sale fee is a little measure added to the cost of all listings by Phonesalad. This sum is paid by the buyer if and just if the listing is sold. </p>

			

			<p>Phonesalad gathers the deal expense for furnishing our administration of facilitating and screening listings, encouraging the sales, and so on.</p> </div></div> 

				<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> How much does it cost to make a listing? </h4></div><div class="panel-body"> 

				<p>Selling is FREE on Phonesalad.</p> 

			<p>	Sellers don't need to pay charges to make a listing or pay expenses for sold listings.</p></div></div>

				<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Should a SIM card be incorporated with used device deals? </h4></div><div class="panel-body"> 

				<p>SIM cards are attached to a client's record and are not transferable to an alternate client. Along these lines SIM cards ought not be normal / incorporated with used device deals (unless generally expressed on a listing). </p>

				<p>As a buyer, you will be relied upon to furnish your own particular SIM card, as they must be attached to your record. </p>

				<p>New / unused SIM cards may be incorporated with a deal, however this ought not be accepted.</p> </div></div>

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are verfication pictures? </h4></div><div class="panel-body"> 

			<p>A "verification picture" is a low-tech, however successful, hostile to cheating measure. By demonstrating the device by the unique listing code it demonstrates you have the device you are selling. Furthermore it keeps potential con artists from making listings for high-dollar devices they don't have. </p>

		</div></div> 

			
		

			<div class= "faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> Will Phonesalad staff delete comments from my listing? </h4></div><div class="panel-body"> 

			<p>Phonesalad has open listing remarks deliberately to encourage openness and respectability in dealings. Our staff can't viably delete listing comments aside from in instances of spam, bellicosity, or different incidental circumstances. </p>

		<p>	Don't be disheartened in the event that you were arranging with a buyer and that arrangement didn't work out. Buyers like to see an animated seller who is responsive and prepared to offer.</p> </div></div> 

			<div class="faq panel panel-info"><div class="panel-heading"><h4 class="panel-title"> What are the site return policies? </h4></div><div class="panel-body"> 

			<p>Sellers characterize return policies for their listing. </p>

			<p>All seller return policies are dependent upon the precondition that the device is received as promoted and as per Phonesalad policies. No seller may deny a return / refund when not as publicized. </p>

		<p>	So Phonesalad does not characterize return policies, with the exception of in situations where what is conveyed does not match what was promoted. </p></div></div> 
		


				</section>
