<% content_for :title,  "Terms and Conditions" %>

<section class="silver-color">
	<div class="container softshadow">
		<div class="info-bar">
			<h1 class="listing-heading">Terms and conditions and useful guidelines</h1>
		</div>
	</div>
<div class="container white-color softshadow cushion">
			<h2>Terms and Conditions to use Phonesalad.</h2>
			<ul>
				<li>Phonesalad is a platform to buy and sell. We are not a retailer, re-seller, or middleman.</li>
				<li>For facilitating the sale and providing other services, we take a small fee.</li>
				<li>Buyer must have a paypal account or a credit card in order to complete a purchase with Phonesalad.</li>
				<li>Phonesalad is not responsible if a seller lies, cheats or steals from you. Although, we will do our best to prevent fraud and help you resolve problems that do arise.</li>
				<li>We keep your private information private. We have no interest in stealing or selling such information.</li>
				<li>Buyers and Sellers have more information available about each other.</li>
			<li>Once your device sells you will be expected to ship it to the buyer within two (2) business days of receiving payment.</li><li>
			Once your device sells you will need to ensure it is un-registered from your carrier's account (if applicable).</li><li>
			If you have your device is listed on other services (e.g. eBay, Craigslist), it is your responsibility to remove the listing from our site immediately if your device sells elsewhere.</li><li>
			You will be asked to provide a "verification photo" showing your listing code (assigned after listing is created) written on a piece of paper next to the device you're selling.</li><li>
			You must be capable of receiving payments via PayPal and be willing to accept their fees.</li>			<li>We allow the creation of listings, comments and other content for all the world to see.</li>
			<li>We are not liable for what our users post, but we will use our best efforts to monitor it.</li>
			
			
			</ul>
			
		<hr class="gray">
			
	
					<h2>Device listing must stick to the following rules</h2>
	<ul>
		<h4>Must haves.</h4>
		
				<li>
					Device is fully functional, including all buttons and ports.</li><li>
					Device is and ready for activation and not reported lost or stolen.</li><li>
					Device is free of cracks and water damage and other non-cosmetic damage.</li><li>
					Device has functional battery (not damaged) included with sale.</li><li>
					The device and seller must otherwise qualify for sale in accordance with our Terms of Use.</li></ul>

					<ul>
						<h4>Can't haves:</h4>
						
								<li>
					Device with bad ESN (or otherwise not able to activated).</li><li>
					Device with cracks on screen or glass.</li><li>
					Device with water damage (or missing moisture indicator stickers).</li><li>
					Devices with an outstanding EIP balance (money owed to carrier).</li></ul>
					</div>
		
		
		</div>
		</section>
