<div class="outer">
<div class="main">
						<div class="centered-800 section rounded phoneshow">
		<h1>Transaction Failed.</h1>
<p>Something went wrong with the payment. You have <strong>not been charged</strong>.</p>

<p>Please try agin from the top.<br/><br/> <%= link_to "Try again", root_path, :class => "btn btn-success" %></p>
</div>
</div>
</div>